  /* CSS for the lesson page */

    body {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: #1b1b1b;
      text-align: center;
      padding: 40px;
    }

    h1, ol {
      color: #FFFFFF;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }

    h1 {
      font-size: 3em;
      margin-bottom: 10px;
    }

    ol {
      text-align: left;
      display: inline-block;
      font-size: 1.2em;
      margin-bottom: 30px;
    }


    /* Style for text list */

    .one {
        color: crimson;
    }

    .two {
        color: #71cea1;
    }

    .three {
        color: #FBEC5D;
    }

    .four {
        color: red;
    }

    .five {
        color: #CC5500;
    }

    /* Style for the buttons */

    .buttons {
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    #yes-button {
      background-color: green;
      color: white;
      padding: 10px 20px;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #no-button {
      background-color: red;
      color: white;
      padding: 10px 20px;
      font-size: 1em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }