
{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>Welcome</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam sem ut justo pellentesque posuere. Donec tellus lacus, maximus id vestibulum quis, luctus a dui. Mauris auctor tempus odio, non finibus turpis. Pellentesque velit nisl, bibendum eu est sed, porta pellentesque leo. Fusce hendrerit quis nibh at varius. In hac habitasse platea dictumst. Nam in malesuada odio. Vivamus semper malesuada feugiat. Curabitur sodales, odio et egestas fermentum, arcu mi condimentum lectus, id fringilla leo sapien posuere velit. Aliquam accumsan fermentum eros, quis iaculis velit. Morbi lorem elit, cursus ut consequat eget, aliquam et velit. Fusce nunc diam, porttitor quis pretium eu, cursus in enim. Donec malesuada pellentesque augue, id sollicitudin ex. Vivamus pretium efficitur iaculis. </p>
{% endblock %}
